mat-card {
    margin: 2rem 25vw;
}

mat-card-content {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.nav-btn {
    margin-top: 1.25rem;
}

.nav-btn button:first-child {
    margin-right: 1rem;
}